<!DOCTYPE html>
<html>
  <head>
    <title>JamCloud</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" 
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" 
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" 
      crossorigin="anonymous">

    <script type="text/javascript">window.volume="<%= image_url("volume.png") %>"</script>
    <script type="text/javascript">window.blurCloud="<%= image_url("blur_cloud.png") %>"</script>
    <script type="text/javascript">window.playIcon="<%= image_url("play_icon.png") %>"</script>
    <script type="text/javascript">window.playIconHover="<%= image_url("play_icon_hover.png") %>"</script>
    <script type="text/javascript">window.pauseIcon="<%= image_url("pause_icon.png") %>"</script>
    <script type="text/javascript">window.womanListening="<%= image_url("woman_listening.jpg") %>"</script>
    <script type="text/javascript">window.emptyProfile="<%= image_url("empty_profile.png") %>"</script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
